<head>
  <style>
      html {
          font-family: sans-serif;
      }

      .card h1 {
          margin: 10px;
          font-weight: bold;
          font-size: 1.2em;
          text-transform: uppercase;
      }

      .card h2 {
          font-weight: normal;
          font-size: 1.2em;
          line-height: 110%;
          background: #357EC7;
          color: white;
          border-bottom: 4px solid silver;
          padding: 5px;
          margin-bottom: 0;
      }

      .card table {
          margin: 5px;
          border-collapse: collapse;
      }

      .card table, th, td {
          padding: 5px;
          border: 1px solid black;
      }
  </style>
  <title>Discovery Mingle Cards</title>
</head>
<div class="card">
  <%= card.description %>
</div>